#main-doc {
  margin: 0 -1rem;
}

h1 {
  color: white;
  font-size: 3.5rem;
  margin: 0;
}

/* Nav Bar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: hsl(0, 60%, 50%);
  padding: 1.25rem;
  justify-content: end;
  z-index: 2;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0.5rem 4rem;
}

nav a {
  padding: 1.8rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

nav a:hover {
  background-color: hsl(220, 40%, 40%);
}

/* Welcome Section */
#welcome-section {
  position: relative;
  top: 4rem;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(64, 64, 64), rgb(26, 26, 26));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.red-text {
  color: hsl(0, 60%, 50%);
  font-size: 1.75rem;
  margin: 1.5rem 0;
}

/* Projects */
#projects {
  position: relative;
  top: 4rem;
  background-color: hsl(220, 40%, 40%);
  text-align: center;
}

.project-styling {
  padding-top: 6rem;
}

#contact {
  position: relative;
  top: 15rem;
}

footer {
  position: relative;
  top: 20rem;
}
